# How to Upload and Download Data from MSCF Server

In [14]:
import paramiko
import pandas as pd
import io
import os
from scripts import sftp_utils # This imports my functions from sftp_utils.py
from dotenv import load_dotenv

Define your username and password. You may have to go through the SSH terminal manually first to reset your password.

In [5]:
load_dotenv()
username = os.getenv('SERVER_USERNAME')
password = os.getenv('SERVER_PASSWORD')

In [6]:
test_df = pd.read_csv("C:/Users/talla/Documents/Machine Learning/housing.csv")
test_df.head()

,Id,MSSubClass,LotFrontage,LotArea,Street,BldgType,OverallQual,YearBuilt,TotalBsmtSF,FullBath,HalfBath,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,SalePrice
0,1,60,65.0,8450,Pave,1Fam,7,2003,856,2,1,0,NaN,Attchd,2003.0,RFn,2,548,208500
1,2,20,80.0,9600,Pave,1Fam,6,1976,1262,2,0,1,TA,Attchd,1976.0,RFn,2,460,181500
2,3,60,68.0,11250,Pave,1Fam,7,2001,920,2,1,1,TA,Attchd,2001.0,RFn,2,608,223500
3,4,70,60.0,9550,Pave,1Fam,7,1915,756,1,0,1,Gd,Detchd,1998.0,Unf,3,642,140000
4,5,60,84.0,14260,Pave,1Fam,8,2000,1145,2,1,1,TA,Attchd,2000.0,RFn,3,836,250000

Upload a pandas dataframe as a csv file to the server

There are two main data directories to store data:

- /home/ktallam/Returns
- /home/ktallam/News

In [ ]:
remote_path = '/home/ktallam/Returns/test.csv'
sftp_utils.upload_df_as_csv(test_df, username, password, remote_path)

Converting DataFrame to CSV in memory...
Connecting to mscffiles.stat.cmu.edu...
Connection successful!
Uploading to /home/ktallam/Returns/test.csv...
Upload complete!
Connection closed.

True

Download a csv file from the server as a pandas dataframe

In [ ]:
sftp_utils.download_csv_as_df(username, password, remote_path)

Connecting to mscffiles.stat.cmu.edu...
Connection successful!
Downloading and reading /home/ktallam/Returns/test.csv...
DataFrame created successfully!
Connection closed.

,Id,MSSubClass,LotFrontage,LotArea,Street,BldgType,OverallQual,YearBuilt,TotalBsmtSF,FullBath,HalfBath,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,SalePrice
0,1,60,65.0,8450,Pave,1Fam,7,2003,856,2,1,0,NaN,Attchd,2003.0,RFn,2,548,208500
1,2,20,80.0,9600,Pave,1Fam,6,1976,1262,2,0,1,TA,Attchd,1976.0,RFn,2,460,181500
2,3,60,68.0,11250,Pave,1Fam,7,2001,920,2,1,1,TA,Attchd,2001.0,RFn,2,608,223500
3,4,70,60.0,9550,Pave,1Fam,7,1915,756,1,0,1,Gd,Detchd,1998.0,Unf,3,642,140000
4,5,60,84.0,14260,Pave,1Fam,8,2000,1145,2,1,1,TA,Attchd,2000.0,RFn,3,836,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,Pave,1Fam,6,1999,953,2,1,1,TA,Attchd,1999.0,RFn,2,460,175000
1456,1457,20,85.0,13175,Pave,1Fam,6,1978,1542,2,0,2,TA,Attchd,1978.0,Unf,2,500,210000
1457,1458,70,66.0,9042,Pave,1Fam,7,1941,1152,2,0,2,Gd,Attchd,1941.0,RFn,1,252,266500
1458,1459,20,68.0,9717,Pave,1Fam,5,1950,1078,1,0,0,NaN,Attchd,1950.0,Unf,1,240,142125
1459,1460,20,75.0,9937,Pave,1Fam,5,1965,1256,1,1,0,NaN,Attchd,1965.0,Fin,1,276,147500